.containSelect{

    text-align:left;

    position: fixed;
    width: 100%;
    margin-top: -47px;
    background: #191405;
    z-index: 1;
}

.containSelectOption{
    display: inline-block;
    background: none;
    margin: 8px;
}

.LabelSelectOption{

    margin: 0; /* elimina el margen por defecto */
  padding: 10px; /* elimina el padding por defecto */
  border: none; /* elimina el borde por defecto */
  color: inherit; /* establece el color igual al del elemento padre */
  appearance: none;
  background: none;

  color: rgba(224, 224, 224, 0.8);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;

}

.SelectOption{

    margin: 5px 0 5px 0; /* elimina el margen por defecto */
  padding: 4px; /* elimina el padding por defecto */
  border: none; /* elimina el borde por defecto */
  font-size: 16px; /* establece el tamaño de fuente igual al del elemento padre */
  color: inherit; /* establece el color igual al del elemento padre */
  appearance: none;
  background: none;
  color: rgba(28, 28, 28, 0.8);
    font-family: monospace;
    font-weight: 1000;

    background: #d28200;
    border-radius: 5px;
}
