/* .input {

    background: rgb(93, 93, 93);
    width: 400px;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
    appearance: none;
    outline: none;
    border: 1px solid rgb(115, 115, 115);
}
*/
.input::placeholder{
    color: rgba(194, 194, 194, 0.8);
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
}

.input {
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    width: 400px;
    height: 40px;
    font-size: 19px;
   }
   
   .input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }
   

.containerSearchBar {

    
    margin: 0;
    padding: 10px;
    background: rgb(4, 4, 4);
    /* border-bottom: 20px solid black; */

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

}

.containerCards {
    margin: 0;
    padding: 0;
}

.btnStyle {

    top: 14px;
    right: 550px;
    font-size: 25px;
    padding: 10px;

}

.btnStyle:hover {

    animation: none;
    text-shadow: none;
    animation-timing-function: none;
    background-color: none;
    border: none;
    box-shadow: none;

}

.btnStyle::after {
    --move1: none;
    --move2: none;
    --move3: none;
    --move4: none;
    --move5: none;
    --move6: none;
    clip-path: none;
    content: none;
    position: none;
  }
  
  .iconLupa {

    background: none;
  }