.cardsGrid {

    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    gap: 40px;
    padding: 10px;
    padding-top: 27px;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(99,0,205,1) 73%, rgba(0,212,255,1) 100%);
    background:#8707ff;
    
    margin-top: 130px;
    
}

.containTotal {

    margin-bottom: 200px;
}
